@import './theme';

body {
    background: #f5f5f5;
}

.header {
    background: #fff;
    padding: 20px 0;

    &__left, &__right {
        display: inline-block;
        vertical-align: top;
    }

    &__right {
        padding: 19px 0 0 30px;
    }

    &__logo {
        height: 121px;
    }

    &__title {
        margin-top: 0;
        font-size: 35px;
    }

    &__subtitle {
        font-size: 24px;
        margin-top: 10px;
    }

    @media (max-width: $screen-md-min) {
        text-align: center;

        &__right {
            padding: 20px 0 0 0;
        }
    }

    @media (max-width: $screen-sm-min) {
        &__logo {
            height: 70px;
        }
    }
}

.topnav {
    i {
        margin-right: 5px;
    }
}

.content {
    background: #fff;
    padding: 20px;
}

.sidebar {
    padding: 20px;
}

.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 12px;
    color: $gray-light;

    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }
}
